{% extends "index.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container-fluid login-page">
  <div class="row">
    <p class="text-center my-2">{% blocktrans %}Don't have an account yet? then please
      <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
  </div>
  <div class="row">
    <div class="col-md-8 mt-2 offset-md-2">
      <h1 class="text-center">Login</h1>
      <br>
      <form class="shadow p-3 rounded login-form mx-auto boxes" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn blue-btn w-100 rounded-pill">Login</button>
        <hr>
        <p class="text-center py-2">Not a member?</p>
        <a href="{{ signup_url }}" aria-label="Click this link to go to the sign up page" role="button"
          class="btn btn--sign-in text-decoration-none text-uppercase w-100 rounded-4">Create account</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
