{% extends "index.html" %}

{% block content %}
<main class="home">
    <div class="container-fluid my-5">
        <div class="row">
            <div class="col-12 home-hero mx-auto">
                <div id="home-carousel" class="carousel slide text-center" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                          <h1>A social media website like no other</h1>
                          <img class="home-imgs home-img-1 shadow rounded" src="/static/img/home/inspiration.jpg">
                      </div>
                      <div class="carousel-item">
                        <h1>Bringing people closer together since 2022</h1>
                        <img class="home-imgs home-img-1 shadow rounded" src="/static/img/home/people-laughing.jpg">
                      </div>
                      <div class="carousel-item">
                        <h1>Connecting people and changing lives</h1>
                        <img class="home-imgs home-img-1 shadow rounded" src="/static/img/home/cafe.jpg">
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-6 col-lg-4 my-3">
            </div>


            <div class="row"></div>
        </div>

</main>
{% include "footer_full.html" %}
{% endblock %}