{% extends "index.html" %}

{% block content %}
<main class="home">
    <div class="container-fluid my-5">
        <div class="row">
            <div class="col-md-6 col-lg-8 d-sm-none d-md-block home-left shadow-lg p-3 rounded">
                <div id="home-carousel" class="carousel slide text-center" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                          <h1>A social network designed for just developers..</h1>
                      </div>
                      <div class="carousel-item">
                        <h1>Bringing people closer together since 2022</h1>
                      </div>
                      <div class="carousel-item">
                        <h1>Try it now!</h1>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-6 col-lg-4 my-3">
                <form action="" class="shadow-lg p-3 rounded login-form mx-auto">
                    {% csrf_token %}
                    <h1 class="text-center">Login</h1>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <br>
                    <button type="submit" class="btn text-uppercase btn--login w-100 rounded-4">Login</button>
                    <hr >
                    <p class="text-center py-2">Not a member?</p>
                    <button type="button" class="btn text-decoration-none sign-up text-uppercase w-100 rounded-4">Create account</button>
                </form>
            </div>


            <div class="row"></div>
        </div>

</main>
{% include "footer_full.html" %}
{% endblock %}