{% extends "index.html" %}

{% block content %}
<main class="home">
    <div class="container-fluid my-5">
        <div class="row">
            <div class="col-md-6 col-lg-6 d-none d-sm-none d-md-block home-left py-5 rounded m-3">
                <div id="home-carousel" class="carousel slide text-center" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                          <h1>A social media website like no other</h1>
                          <img class="home-imgs home-img-1 shadow rounded" src="/static/img/home/inspiration.jpg">
                      </div>
                      <div class="carousel-item">
                        <h1>Bringing people closer together since 2022</h1>
                        <img class="home-imgs home-img-1 shadow rounded" src="/static/img/home/people-laughing.jpg">
                      </div>
                      <div class="carousel-item">
                        <h1>Connecting people and changing lives</h1>
                        <img class="home-imgs home-img-1 shadow rounded" src="/static/img/home/cafe.jpg">
                      </div>
                    </div>
                  </div>
            </div>
            <div class="col-md-6 col-lg-4 my-3">
                <form action="" class="shadow p-3 rounded login-form mx-auto">
                    {% csrf_token %}
                    <h1 class="text-center">Login</h1>
                    <div class="form-group input-icons">
                        <i class="fa-solid fa-envelope position-absolute m-2"></i>
                        <input type="email" class="form-control input-field text-center" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
                        <small id="emailHelp" class="form-text">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group input-icons">
                        <i class="fa-solid fa-user position-absolute m-2"></i>
                        <input type="password" class="form-control  input-field text-center" id="exampleInputPassword" placeholder="Password">
                    </div>
                    <br>
                    <button type="submit" class="btn text-uppercase btn--login w-100 rounded-4">Login</button>
                    <hr >
                    <p class="text-center py-2">Not a member?</p>
                    <button type="button" class="btn text-decoration-none sign-up text-uppercase w-100 rounded-4">Create account</button>
                </form>
            </div>


            <div class="row"></div>
        </div>

</main>
{% include "footer_full.html" %}
{% endblock %}