{% block content %}

<div class="container">
  <div class="row bg-red">
      <div class="col-md-3 col-lg-3 d-none d-md-block">
          <div class="profile-box">
              gdg
          </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-6 mt-2">
          <div class="feed-box">
              <div class="post-box">
                  <div class="row">
                      <form action="" class=" shadow rounded-3">
                        {% csrf_token %}
                        <h4>Post</h4>
                      </form>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-3 col-lg-3 d-none d-md-block">
          <div class="settings-box">
              fhdgh
          </div>
      </div>
  </div>
</div>
{% endblock %}