{% block content %}

<div class="container">
  <div class="row mt-2">
    <div class="col-md-3 col-lg-3 d-none d-md-block">
      <div class="profile-box">
        gdg
      </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="feed-box">
        <div class="post-box">
          <div class="row shadow rounded-3 py-2">
            <form action="" class="">
              {% csrf_token %}
              <h4 class="text-center">Post</h4>
              <textarea class="rounded-3 w-100 text-center" name="post" id="post" rows="1"
                placeholder="Write a post here..." maxlength="100"></textarea>
              <button class="btn btn-success float-right" type="submit">Post</button>
            </form>
          </div>
          <div class="row shadow rounded-3 mt-2 py-2">
            <div class="posts">
              <!--TODO: for loop to display posts if user has friends and they have posts and post public then display by date and time -->
              <div class="dummy-post">
                <h1>Today is another day</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                  officia deserunt mollit anim id est laborum.</p>
                  <p>Author - dummy post visual</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-lg-3 d-none d-md-block">
      <div class="settings-box">
        fhdgh
      </div>
    </div>
  </div>
</div>
{% endblock %}