{% block content %}

<div class="container">
  <div class="row mt-4">
    <div class="col-sm-12 col-md-3 col-lg-2">
      {% include "profiles/home_profile.html"%}
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="feed-box">
        <div class="post-box">
          <div class="row shadow rounded-3 py-2 boxes">
            <form action="" class="position-relative">
              {% csrf_token %}
              <input type="text" class="create-post rounded-3 w-100 text-center mx-2" placeholder="Share a post, status or idea">
              <button class="post-btn btn position-absolute bottom-0 end-0 mx-2" type="submit">Post</button>
            </form>
          </div>
          <div class="post-type-divider dropdown w-100 position-relative">
            <button class=" btn d-flex flex-row  w-100 dropdown-toggle text-end" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <hr class="home-hr-bg">
              <span class="sort-by position-absolute top-50 end-0 translate-middle-y">Sort by:</span>
            </button>
            <ul class="dropdown-menu position-absolute start-50 w-50 text-center">
              <li><a class="dropdown-item" href="#">Newest</a></li>
              <li><a class="dropdown-item" href="#">Popular</a></li>
            </ul>
          </div>
          <div class="row shadow rounded-3 boxes">
            <div class="">
              <!--TODO: for loop to display posts if user has friends and they have posts and post public then display by date and time -->
              <div class="dummy-post">
                <h1>Today is another day</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                  et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                  aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                  dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
                  officia deserunt mollit anim id est laborum.</p>
                  <p>Author - dummy post visual</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-4">
      <div class="messages-box boxes shadow rounded-3">
        fhdgh
      </div>
      <div class="suggestions-box mt-4 boxes shadow rounded-3">
        fhdgh
      </div>
      <div class="footer-box mt-4">
        {% include "footer_small.html" %}
      </div>
    </div>
  </div>
</div>
{% endblock %}