{% block content %}
{% load static %}
<div class="profile-box position-relative shadow rounded-3 boxes py-5">
  <div class="profile-img position-absolute top-50 start-50 translate-middle my-2">
      <img class="shadow rounded-circle" src="{% static 'img/blank-profile-picture.png' %}" alt="">
  </div>
</div>
<div class="details-box mt-4 boxes shadow rounded-3  d-none d-md-block">
  <div class="list-group w-100">
    <a href="#" class="list-group-item list-group-item-action" aria-current="true">
      <i class="fa-solid fa-person"></i> Profile</li>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <i class="fa-solid fa-comments"></i> Posts</li>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <i class="fa-solid fa-message"></i> Messages</li>
    </a>
    <a href="#" class="list-group-item list-group-item-action">
      <i class="fa-solid fa-user-group"></i> Friends</li>
    </a>
  </div>
</div>
{% endblock %}