{% block content %}
{% load static %}
<div class="profile-box position-relative shadow rounded-3 boxes py-5">
  <div class="profile-img position-absolute top-50 start-50 translate-middle my-2">
      <img class="shadow rounded-circle" src="{% static 'img/blank-profile-picture.png' %}" alt="">
  </div>
</div>
<div class="details-box mt-4 boxes shadow rounded-3">
  <div class="list-group  position-relative text-center w-100">
    <a href="#" class="list-group-item" aria-current="true">
      <i class="fa-solid fa-house position-absolute start-0"></i> Home</li>
    </a>
    <a href="#" class="list-group-item">
      <i class="fa-solid fa-comments position-absolute start-0"></i> Posts</li>
    </a>
    <a href="#" class="list-group-item">
      <i class="fa-solid fa-message position-absolute start-0"></i> Messages</li>
    </a>
    <a href="#" class="list-group-item">
      <i class="fa-solid fa-user-group position-absolute start-0"></i> Friends</li>
    </a>
  </div>
</div>
{% endblock %}