/* Google fonts for project - Taken from: https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap');

/**********************************************************Default colors*/
:root {
    --snow: #fffbfeff;
    --spanish-gray: #929195ff;
    --raisin-black: #24272bff;
    --rich-black-fogra-39: #07070aff;
    --indigo-dye: #044264ff;
    --star-command-blue: #007cbeff;
    --pacific-blue: #42acc7ff;
    --middle-blue-green: #84dccfff;
}

body {
    overflow-x: hidden;
    background: rgb(132, 220, 207);
    background: linear-gradient(45deg, rgba(132, 220, 207, 1) 27%, rgba(0, 124, 190, 1) 68%, rgba(7, 7, 10, 1) 100%);
}

.navbar,
h1,
h2,
h3,
footer {
    font-family: 'Oswald', sans-serif;
}

form {
    width: fit-content;
    background-color: var(--snow);
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    cursor: pointer;
}

/**********************************************************Navigation*/
.navbar {
    background-color: var(--snow);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: 2px;
    color: var(--middle-blue-green);
    text-shadow: 1px 1px 1px var(--rich-black-fogra-39);
    margin-left: 20px;
}

.navbar-brand:hover {
    color: var(--pacific-blue);
    transition: color .4s ease-in-out;
}

.fa-share-nodes {
    color: var(--rich-black-fogra-39);
    margin-right: 5px;
}

.fa-house,
.fa-users,
.fa-comment,
.fa-bell,
.fa-magnifying-glass,
.fa-user {
    font-size: 1.1rem;
    color: var(--rich-black-fogra-39);
    text-shadow: 1px 1px 3px var(--raisin-black);
}

i:hover {
    color: var(--snow);
    transition: color .3s ease-in-out;
}

.fa-user:hover {
    color: var(--rich-black-fogra-39);
}

.nav-item,
.active,
.btn--search {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--spanish-gray);
    margin-left: 10px;
    opacity: .6;
}

.nav-item:hover,
.active:hover,
.btn-info:hover {
    opacity: 1;
}

.active {
    background-color: var(--middle-blue-green);
}

.nav-item>a {
    padding: 5px;
}

.nav-item:hover {
    background-color: var(--middle-blue-green);
    transition: .3s ease-in-out;
}

.dropdown,
.dropdown:hover {
    color: var(--rich-black-fogra-39);
    background-color: transparent;
    transition: .3s ease-in-out;
    /* put user img here */
}

/**********************************************************Search box form */
.form-control,
.btn--search {
    height: 45px;
    border-radius: 32px;
}

.btn--search {
    border: none;
}

.btn--search {
    width: 45px;
    background-color: var(--rich-black-fogra-39);
}

.btn--search:hover {
    background-color: var(--middle-blue-green);
    transition: .3s ease-in-out;
}

.fa-magnifying-glass {
    color: var(--snow);
}

/**********************************************************Footer*/
footer {
    background-color: var(--rich-black-fogra-39);
    color: var(--snow);
}

footer a i {
    font-size: 2rem;
    color: var(--snow);
}

footer a i:hover {
    color: var(--middle-blue-green);
}

/**********************************************************Home page*/

.login-form {
    position: relative;
    z-index: 2;
}

.login-form h1 {
    font-size: 3rem;
}

.btn--login {
    width: 100%;
    font-size: 1.3rem;
    border-color: var(--middle-blue-green);
    background: rgb(132, 220, 207);
    background: linear-gradient(45deg, rgba(132, 220, 207, 1) 27%, rgba(0, 124, 190, 1) 68%, rgba(7, 7, 10, 1) 100%);
}

.home-logo {
    font-weight: 700;
    font-size: 3rem;
    color: var(--snow);
    text-shadow: 1px 1px 3px var(--raisin-black);
}

.sign-up {
    color: var(--pacific-blue);
}

.sign-up:hover {
    color: var(--star-command-blue);
}

.c--green-s--black {
    color: var(--pacific-blue);
    text-shadow: 1px 1px 1px var(--raisin-black);
}