/* Google fonts for project - Taken from: https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap');


/**********************************************************Default colors*/
:root {
    --snow: #fffbfeff;
    --spanish-gray: #929195ff;
    --raisin-black: #24272bff;
    --rich-black-fogra-39: #07070aff;
    --indigo-dye: #044264ff;
    --star-command-blue: #007cbeff;
    --pacific-blue: #42acc7ff;
    --middle-blue-green: #84dccfff;
}

/**********************************************************Navigation*/

body {
    background-color: var(--raisin-black);
    overflow-x: hidden;
}

.navbar,
h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
}

.navbar {
    background-color: var(--snow);
    padding-right: 60px;
}

.navbar-brand {
    font-size: 2rem;
    color: var(--star-command-blue);
    text-shadow:  1px 1px 3px var(--middle-blue-green);
}

.fa-house,
.fa-users,
.fa-comment,
.fa-bell,
.fa-magnifying-glass {
    font-size: 1.3rem;
    color: var(--rich-black-fogra-39);
    text-shadow: 1px 1px 3px var(--raisin-black);
}

i:hover {
    color: var(--star-command-blue);
}

.nav-item,
.active,
.btn-info {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--spanish-gray);
    margin-left: 5px;
}

.active {
    background-color: var(--middle-blue-green);
}

.nav-item > a {
    padding: 5px;
}

.dropdown {
    border: none;
    background-color: transparent; /* put user img here */
}

/**************************************************************Search box form */
.form-control,
.btn-info {
    height: 45px;
    border-radius: 32px;
}

.btn-info {
    width: 45px;
    background-color: var(--rich-black-fogra-39);
}

.btn-info:hover {
    background-color: var(--middle-blue-green);
}

.fa-magnifying-glass {
    color: var(--snow);
}
