/* Google fonts for project - Taken from: https://fonts.google.com/ */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap');

/**********************************************************Default colors*/
:root {
    --vivid-sky-blue: #0ad3ffff;
    --mantis: #71be60ff;
    --amazon: #3f6f47ff;
    --caribbean-green: #3dd39bff;
    --rich-black-fogra-29: #0d1f2dff;
    --taupe-gray: #868185ff;
    --misty-rose: #ffe3dcff;
    --dark-salmon: #e9a289ff;
    --rust: #b85128ff;
}

body {
    overflow-x: hidden;
}

.navbar,
h1,
h2,
h3,
footer {
    font-family: 'Oswald', sans-serif;
}

form {
    width: fit-content;
    background-color: var(--);
    font-family: 'Open Sans', sans-serif;
}

a:hover {
    cursor: pointer;
}

/**********************************************************Navigation*/

.navbar {
    background-color: var(--rich-black-fogra-29);
    transition: color .3s ease-in-out;
}

.navbar-brand {
    font-size: 3rem;
    color: var(--caribbean-green);
}

.navbar-brand:hover {
    color: var(--caribbean-green);
}

.nav-item .nav-link {
    color: var(--caribbean-green);
    font-size: 1.5rem;
}
.nav-item .nav-link:hover {
    color: var(--misty-rose);
    transition: color .3s ease-in-out;
}

.navbar-toggler {
    border-color: var(--caribbean-green);
}

.navbar-toggler-icon {
    font-size: 24px;
    width: 32px;
    height: 32px;
    color: var(--caribbean-green);
    background-image: none;
}

/**********************************************************Footer*/
footer {
    color: var(--misty-rose);
    background-color: var(--caribbean-green);
}

footer a i {
    font-size: 2rem;
    color: var(--misty-rose);
}

footer a i:hover {
    color: var(--rich-black-fogra-29);
    transition: color .3s ease-in-out;
}

/**********************************************************Home page*/

.home {
    font-family: 'Open Sans', sans-serif;
}

.home-left {
    background: rgb(13,31,45);
    background: linear-gradient(104deg, rgba(13,31,45,1) 21%, rgba(61,211,155,1) 81%, rgba(63,111,71,1) 100%);
}

.carousel {
    color: var(--misty-rose);
}

.login-page form {
    color: var(--misty-rose);
    background: rgb(13,31,45);
    background: linear-gradient(104deg, rgba(13,31,45,1) 21%, rgba(61,211,155,1) 81%, rgba(63,111,71,1) 100%);
}

.form-text {
    color: var(--misty-rose);
}

.btn--login {
    color: var(--misty-rose);
    font-weight: 900;
    background-color: var(--vivid-sky-blue);
}

.sign-up {
    color: var(--rich-black-fogra-29);
    font-weight: 900;
    background-color: var(--dark-salmon);
    border-color: var(--rust);
}

.form-text,
.btn--login {
    text-shadow: 1px 1px 1px var(--rich-black-fogra-29);
}

.carousel h1 {
    text-shadow: 1px 1px 2px var(--taupe-gray);
}

.home-imgs {
    height: 400px;
}

/**************************************************************Forms and inputs */

.fa-envelope,
.fa-user {
    font-size: 24px;
    color: var(--caribbean-green);
    width: 100%;
    margin-top: 32px;
}
  
.input-icons {

}
  
.input-field {
    width: 100%;
    padding: 10px;
}
