{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row mt-4">
    <div class="col-sm-12 col-md-3 col-lg-2">
      {% include "profiles/home_profile.html"%}
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="feed-box">
        <div class="post-box">
          <div class="row shadow rounded-3 py-2 boxes">
            <form action="" class="position-relative">
              {% csrf_token %}
              <input type="text" class="create-post rounded-3 w-100 text-center mx-2" placeholder="Share a post, status or idea">
              <button class="blue-btn btn position-absolute bottom-0 end-0 mx-2" type="submit">Post</button>
            </form>
          </div>
          <div class="post-type-divider dropdown w-100 position-relative">
            <button class=" btn d-flex flex-row  w-100 dropdown-toggle text-end" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <hr class="home-hr-bg">
              <span class="sort-by position-absolute top-50 end-0 translate-middle-y">Sort by:
                <i class="fa-solid fa-circle-chevron-down"></i>
              </span>
            </button>
            <ul class="dropdown-menu position-absolute start-50 w-50 text-center">
              <li><a class="dropdown-item" href="#">Newest</a></li>
              <li><a class="dropdown-item" href="#">Popular</a></li>
            </ul>
          </div>
          <div class="row shadow rounded-3 boxes">
            {% include "posts/base.html" %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-3 col-lg-4">
      <div class="friends-suggestions-box boxes shadow rounded-3">
        <h5 class="text-center">People you may know</h5>
      </div>
      <div class="messages-box mt-4 boxes shadow rounded-3">
        <h5 class="text-start mx-3">Messages</h5>
      </div>
      <div class="footer-box mt-4">
        {% include "footer_small.html" %}
      </div>
    </div>
  </div>
</div>
{% endblock %}