{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% comment %} Favicon {% endcomment %}
  <link rel="icon" type="image/png" sizes="512x512" href="{% static 'img/favicon/android-chrome-512x512.png' %}">
  <link rel="icon" type="image/png" sizes="192x192" href="{% static 'img/favicon/android-chrome-192x192.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">

  {% comment %} Bootstrap CSS & JavaScript CDN via jsDelivr {% endcomment %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous">
  </script>

  {% comment %} Custom CSS {% endcomment %}
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <title>DevShare</title>
</head>

<body>

  {% comment %} Nav {% endcomment %}
  <nav class="container-fluid navbar navbar-expand-lg sticky-top">
      <a class="navbar-brand" href="#">
        <i class="fa-solid fa-share-nodes"></i>DevShare
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex" role="search">
          {% csrf_token %}
          <input class="form-control me-1 search-box" type="search" placeholder="Search..." aria-label="Search">
          <button class="btn btn-info" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
        <ul class="navbar-nav mx-auto mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page" href="#" data-toggle="tooltip" data-placement="bottom" title="Home">
              <i class="fa-solid fa-house"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="tooltip" data-placement="bottom" title="Profiles">
              <i class="fa-solid fa-users"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="tooltip" data-placement="bottom" title="Messages">
              <i class="fa-solid fa-comment"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" data-toggle="tooltip" data-placement="bottom" title="Notifications">
              <i class="fa-solid fa-bell"></i>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false" data-toggle="tooltip" data-placement="bottom" title="User Profile">
              <i class="fa-solid fa-user"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
      </div>
  </nav>
  {% comment %} Main {% endcomment %}
  <main>
    {% block content%}
    {% endblock%}
  </main>
  {% comment %} Footer {% endcomment %}
  <footer class="container-fluid">
    <div class="row social">
          <a href="#" class="social-link"><i class="fa-brands fa-stack-overflow"></i></a>
          <a href="#" class="social-link"><i class="fa-brands fa-github"></i></a>
          <a href="#" class="social-link"><i class="fa-solid fa-envelope"></i></a>
    </div>
    <div class="row footer-info">
        <div class="copyright">
          &copy; 2022 <i class="fa-solid fa-share-nodes"></i>DevShare | All Rights Reserved
        </div>
    </div>
  </footer>
  {% comment %} Font Awesome Icons {% endcomment %}
  <script src="https://kit.fontawesome.com/0d880835d2.js" crossorigin="anonymous"></script>
</body>

</html>