{% extends "base.html" %}

{% block content %}
{% comment %} Nav {% endcomment %}
<nav class="container-fluid navbar navbar-expand-lg sticky-top">
    <a class="navbar-brand" href="#">
        <i class="fa-solid fa-share-nodes"></i>DevShare
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <form class="d-flex" role="search">
            {% csrf_token %}
            <input class="form-control me-1 search-box" type="search" placeholder="Search..." aria-label="Search">
            <button class="btn btn-info btn--search" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        <ul class="navbar-nav mx-auto mb-lg-0">
            <li class="nav-item active">
                <a class="nav-link" aria-current="page" href="#" data-toggle="tooltip" data-placement="bottom"
                    title="Home">
                    <i class="fa-solid fa-house"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="tooltip" data-placement="bottom" title="Profiles">
                    <i class="fa-solid fa-users"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="tooltip" data-placement="bottom" title="Messages">
                    <i class="fa-solid fa-comment"></i>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" data-toggle="tooltip" data-placement="bottom" title="Notifications">
                    <i class="fa-solid fa-bell"></i>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false" data-toggle="tooltip" data-placement="bottom" title="User Profile">
                    <i class="fa-solid fa-user"></i>
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
{% comment %} Main {% endcomment %}
<main>
    {% block content%}
    {% endblock%}
</main>
{% endblock %}